.faq {
	@extend %hero_background;
	padding: 2.618em 1em;
	margin: 2.618em 0;
	background: #eee;

	&-list {
		max-width: 580px;
		margin-left: auto;
		margin-right: auto;
	}

	&-item {
		margin: 1.618em 0 0;
	}

	&-question {
		@extend %hero_background;
		padding: 1em;
		font-weight: 700;
		cursor: pointer;

		+ p {
			margin-top: 1.618em;
		}

	}

}
