.feature {
	$gutter: 1em;

	&-list {
		display: flex;
		flex-wrap: wrap;
		width: calc( 100% + #{ 2 * $gutter } );
		margin: 2.618em -#{ $gutter };
	}

	&-item {
		flex: 1;
		min-width: 16em;
		padding: 2 * $gutter;
		margin: $gutter / 2;
		border-width: 1px;
		border-style: solid;
		box-shadow: 0 .382em 1em rgba( #000, .1 );

		svg {
			width: 3.329em;
			height: auto;
			margin-bottom: 1em;
			stroke: #7d2d0f;
		}

		h2 {
			margin-bottom: .382em;
			font-size: 1.618em;
		}

	}

}
