.feature {
	$gutter: 1.618em;

	&-list {
		display: flex;
		flex-wrap: wrap;
		width: calc( 100% + 1em );
		margin: -.5em;

		@media (min-width: 880px) {
			width: calc( 100% + #{ $gutter } );
			margin: #{ -$gutter / 2 };
		}

	}

	&-item {
		@extend %hero_background;
		flex: 1;
		min-width: 16em;
		padding: 1em;
		margin: .5em;

		@media (min-width: 880px) {
			padding: $gutter;
			margin: $gutter / 2;
		}

		svg {
			width: 3.329em;
			height: auto;
			margin-bottom: 1em;
			stroke: #7d2d0f;
		}

		h3 {
			margin-bottom: .618rem;
		}

	}

}
