.feature {

	&-list {
		display: flex;
	}

	&-item {
		flex: 1;
		padding: 1.618em;
		margin: 1em;
		border-width: 1px;
		border-style: solid;

		svg {
			width: 2.618em;
			fill: currentColor;
		}

	}

}
