---
layout: home
html_title: Playground for Beaver Themer | WordPress theme
title: Playground for Beaver Themer
subtitle: Barebone WordPress theme by <a href="https://www.webmandesign.eu">WebMan Design</a>
intro_text: Blank, simple, bare base theme for using Beaver Themer (and Beaver Builder) plugin to built your whole website.
intro_image: assets/images/website-sections.png
---

{% include features.html %}

<section class="section">
    <div class="section-inner">
        {% include description.md %}
    </div>
</section>

{% include faq.html %}
