<div class="buttons-github">
	<a class="github-button" href="https://github.com/webmandesign/playground-for-beaver-themer" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star webmandesign/playground-for-beaver-themer on GitHub">Star</a>
	<a class="github-button" href="https://github.com/webmandesign/playground-for-beaver-themer/subscription" data-icon="octicon-eye" data-size="large" aria-label="Watch webmandesign/playground-for-beaver-themer on GitHub">Watch</a>
	<a class="github-button" href="https://github.com/webmandesign" data-size="large" aria-label="Follow @webmandesign on GitHub">Follow @webmandesign</a>
</div>
