	</div>
</main>

<footer class="site-footer">
	<div class="content-container">
		{% include navigation.html %}
		<p>
			&copy; <a href="https://www.webmandesign.eu?utm_source=pfbt-github"><strong>WebMan Design</strong></a> | Get Beaver Themer compatible themes and accessibility ready themes at <a href="https://www.webmandesign.eu?utm_source=pfbt-github">WebManDesign.eu</a><br>
			<a href="https://www.wpbeaverbuilder.com/beaver-themer/fla/67/"><strong>Beaver Themer</strong></a> and <a href="https://www.wpbeaverbuilder.com/fla/67/"><strong>Beaver Builder</strong></a> are products of <a href="https://www.fastlinemedia.com/">FastLine Media LLC</a> | Icons by <a href="https://feathericons.com/">Feather</a>
		</p>
	</div>
</footer>

<script async defer src="https://buttons.github.io/buttons.js"></script>

</body>

</html>
