	</div>
</main>

<footer class="site-footer">
	<div class="content-container">
		<p>
			&copy; <a href="https://www.webmandesign.eu">WebMan Design</a><br>
			<a href="https://www.wpbeaverbuilder.com/?fla=67">Beaver Builder</a> and <a href="https://www.wpbeaverbuilder.com/beaver-themer/?fla=67">Beaver Themer</a> are products of <a href="https://www.fastlinemedia.com/">FastLine Media LLC</a><br>
			Icons by <a href="https://feathericons.com/">Feather</a>
		</p>
	</div>
</footer>

</body>

</html>
