<!doctype html>

<html>

<head>
	<meta charset="utf-8">
	<title>{{ page.html_title }}</title>
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

<header class="site-header">
	<div class="content-container">
		<div class="intro columns">
			<div class="intro-content column column-half">
				<h1>{{ page.title }}</h1>
				<p class="subtitle">{{ page.subtitle }}</p>
				{{ page.intro_text | markdownify }}
				{% include button-download.html %}
			</div>
			{% if page.intro_image %}
			<div class="intro-media column column-half">
				<img src="{{ page.intro_image }}" alt="" />
			</div>
			{% endif %}
		</div>
	</div>
</header>

<main class="site-content">
	<div class="content-container site-content-inner">
