<section class="section download"{% if include.id %} id="{{ include.id }}"{% endif %}>
	<div class="section-inner">
		<h2>Get the theme now!</h2>
		<p>Download the theme for free and start building your new WordPress website entirely in drag & drop interface today.</p>
		<a href="{{ page.download_url }}" class="button">
			{% include svg/download-cloud.svg %}
			Download<span class="screen-reader-text"> "Playground for Beaver Themer" WordPress theme</span>
		</a>
		<p class="donation">
			{% include svg/heart.svg %}
			Do you like this theme?
			<a href="https://www.webmandesign.eu/contact/?utm_source=pfbt-github">Please consider a donation.</a>
			<br>
			Thank you!
			{% include svg/smile.svg %}
		</p>
	</div>
</section>
