.intro {

	&-content {

		@media (max-width: 880px) {
			min-width: calc( 100% - 40px );
		}

	}

	&-media {
		text-align: center;

		@media (max-width: 1160px) {
			width: calc( 38.2% - 20px );
		}

		img {
			max-width: 90%;
		}

	}

	p:last-child {
		margin-top: 2.618em;
	}

}

.subtitle {
	margin-top: -.618em;
	font-size: 1.272em;
}
