.site-header {
	padding-top: 12%;
	padding-bottom: 12%;
	background-image: url('/assets/images/fancy-pants.jpg');
	background-position: 50% 50%;
	background-repeat: repeat;
	color: #fff;
}

@import '_intro';
