html {
	box-sizing: border-box;
	border-color: rgba( #000, .2 );
}

* {
	border-color: inherit;

	&,
	&:before,
	&:after {
		// Inherit box-sizing to make it easier to change the property
		// for components that leverage other behavior.
		// @link https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
		box-sizing: inherit;
	}

}
