/*! _typography.scss */

// Headings.

	%typography_heading {
		--heading--font-size: 1;
		font-size: calc( 1em * var(--heading--font-size) );
		line-height: calc( 1 + .382 / var(--heading--font-size) );
		word-wrap: break-word;
	}

	@for $i from 1 through 6 {
		h#{ 7 - $i } {
			@extend %typography_heading;
			--heading--font-size: #{ pow(
				_var( typography, ratio ),
				#{ $i - 2 }
			) };
		}
	}

// Others.

	%typography_small {
		font-size: calc(
			pow(
				_var( typography, ratio ),
				-1
			)
			* 1em
		);
	}

	small {
		@extend %typography_small;
	}

	strong,
	b {
		font-weight: 700;
	}

	em,
	i {
		font-style: italic;
	}
