.alignleft {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

.alignright {
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.alignnone {
	margin-left: 0;
	margin-right: 0;
}
