/*! wp/_alignment.scss */

.alignleft,
.alignright {
	max-width: calc( 50% - 1em / 2 );
	margin-block-end: 1em;
}

.alignleft {
	// No RTL here:
	float: left;
	margin-left: 0;
	margin-right: 1em;
}

.alignright {
	// No RTL here:
	float: right;
	margin-left: 1em;
	margin-right: 0;
}

.aligncenter {
	margin-inline: auto;
}

.alignnone {
	margin-inline: 0;
}
