/*! wp/_caption.scss */

.wp-caption {
	max-width: 100%;
	text-align: center;

	img[class*="wp-image-"] {
		display: block;
		margin-inline: auto;
	}

	.wp-caption-text {
		margin: calc( 1em * _var( ratio, maj ) ) 0;
	}
}
