/*! wp/_comments.scss */

.comment {
	$avatar_size: 3.329em; // In em.

	margin: 2.618em 0;

	&list {
		clear: both;

		&, .children {
			padding: 0;
			margin: 2.618em 0;
			list-style: none;
		}

		.children {
			margin-inline-start: .618em;

			@include media( map_get( $breakpoint, 's' ) ) {
				margin-inline-start: 1.618em;
			}
		}
	}

	&-body {
		position: relative;

		@include media( map_get( $breakpoint, 'm' ) ) {
			padding-inline-start: $avatar_size + 1;
			padding-block-start: math.div( $avatar_size - 1.618, 2 );
			// See also .pingback styles below. They reset these styles.
		}

		.pingback & {
			padding: 0;
		}
	}

	.avatar {
		width: $avatar_size;
		margin-inline-end: .382em;
		border-radius: 10em;
		vertical-align: bottom;

		@include media( map_get( $breakpoint, 'm' ) ) {
			position: absolute;
			inset-inline-start: 0;
			inset-block-start: 0;
		}
	}

	&-content {
		margin: 1em 0;

		a {
			word-wrap: break-word;
		}
	}

	&-respond {
		margin-block-start: 2.618em;

		textarea,
		[type="text"],
		[type="email"],
		[type="url"] {
			width: 100%;
		}

		label:first-child {
			display: block;
			margin-block-end: .382em;
		}

		textarea:invalid {
			max-height: 2 * 1.618em + 2 * .618; // 2x line height + vertical textarea padding.
			overflow-y: hidden;
		}
	}

	&-reply-title {
		margin-block-end: 0;
		font-size: 1.272em;
	}
}

// Style this in a child theme or in WordPress' "Additional CSS" customizer field.
.bypostauthor {
	/* See other styles. */
}

.comment-metadata,
.logged-in-as {
	@extend %typography_small;
}

.fl-module-fl-comments .navigation {
	overflow: hidden;
}
