.gallery {
	$gutter: .382em;

	display: flex;
	flex-wrap: wrap;
	margin: $gutter / -2;

	&:not(:last-child) {
		margin-bottom: 1.618em;
	}

	&-item {
		flex: auto;
		display: inline-block;
		text-align: center;
		vertical-align: top;

		@for $i from 1 through 9 {
			.gallery-columns-#{$i} & {
				width: calc( #{ percentage( 1 / $i ) } - #{ $gutter } );
				margin: $gutter / 2;
			}
		}

	}

	&-caption {
		display: block;
	}

	img {
		vertical-align: top;
	}

}
