.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.

	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; // Above WP toolbar.
	}

}

.content-container {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
	overflow: hidden;
}

.column {
	$gutter: 20px;
	flex: 1;
	min-width: 16em;
	max-width: 100%;
	margin: $gutter;

	&.alignright {
		margin-left: auto;
	}

	&s {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: calc( 100% + #{ $gutter } );
		margin: 0 #{ -$gutter / 2 };
	}

	&-half {
		width: 580px;
		max-width: 580px;
	}
}

.button {
	display: inline-block;
	padding: .618em 1.618em;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .075em;
	border: 2px solid;
	border-radius: 4px;
	box-shadow: inset 0 -4px 0;
	transition: box-shadow .3s;

	&:hover,
	&:focus,
	&:active {
		box-shadow: inset 0 -6px 0;
	}

	&:active {
		box-shadow: none;
	}

	svg {
		display: inline-block;
		width: 1.618em;
		height: 1.618em;
		margin-right: .618em;
		vertical-align: middle;
	}

}
