.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.
}

.content-container {
	max-width: calc( 1200px + 2em );
	padding: 0 1em;
	margin: 0 auto;
	overflow: hidden;
}

.column {
	$gutter: 20px;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	min-width: 16em;
	max-width: 100%;
	margin: $gutter;

	&.alignright {
		margin-left: auto;
	}

	&s {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		width: calc( 100% + #{ $gutter } );
		margin: 0 #{ -$gutter / 2 };
	}

	&-half {
		width: calc( 50% - #{ $gutter } );
		max-width: 580px;
	}

}

.button {
	display: inline-block;
	position: relative;
	padding: .618em 1.618em;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .075em;
	border: 2px solid;
	border-radius: 4px;
	box-shadow: inset 0 -4px;
	transition: box-shadow .15s;
	z-index: 1;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		box-shadow: inset 0 -5px;
	}

	&:active {
		box-shadow: inset 0 -2px;
	}

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: currentColor;
		opacity: .1;
		z-index: -1;
	}

	svg {
		display: inline-block;
		width: 1.618em;
		height: 1.618em;
		margin-right: .618em;
		vertical-align: middle;
	}

}
