a,
a:hover,
a:focus,
a:active,
a:visited {
	color: #7d2d0f;
}

h1, h2, h3 {
	clear: both;
	word-wrap: break-word;
}

em {
	font-style: italic;
}

code {
	padding: ( ( 1 / .875 - .875 ) / 2 +em ) .382em;
	font-size: .875em;
	background: rgba( #000, .05 );
}

img {
	max-width: 100%;
	height: auto;
}
