p,
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
hr,
form,
blockquote,
table,
figure,
iframe {
	margin: 0 0 1.618rem;

	&:last-child {
		margin-bottom: 0;
	}

}

ul, ol {
	margin-left: 0;
	padding-left: 1.618em;
}
