@import '_normalize';

html {
	box-sizing: border-box;
	color: #111;
	border-color: rgba( #000, .1 );
}

body {
	$color: #dddddd;
	background-image: url('../images/graph-paper.svg');
	background-position: 50% 50%;

	@media (min-width: 880px) {
		padding: 1.618em;
	}

}

* {
	border-color: inherit;

	&,
	&:before,
	&:after {
		box-sizing: inherit;
	}

}

@import '_typography';
@import '_spacing';
@import '_elements';
@import '_classes';

%hero_background {
	background: #fcb040;
	border-radius: 1.618em 0;
}
