@import '_normalize';

html {
	box-sizing: border-box;
	color: #111;
	border-color: rgba( #000, .1 );
}

* {
	border-color: inherit;

	&,
	&:before,
	&:after {
		box-sizing: inherit;
	}

}

@import '_typography';
@import '_spacing';
@import '_elements';

.content-container {
	max-width: 1200px;
	margin: 0 auto;
}

%hero_background {
	background: linear-gradient( -45deg, #fcb040 38%, rgba( #fcb040, .1 ) );
}
