@import '_normalize';

html {
	box-sizing: border-box;
	color: #111;
	border-color: rgba( #000, .1 );
}

body {

	@media (min-width: 880px) {
		padding: 1.618em;
	}

}

* {
	border-color: inherit;

	&,
	&:before,
	&:after {
		box-sizing: inherit;
	}

}

@import '_typography';
@import '_spacing';
@import '_elements';

.content-container {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
	overflow: hidden;
}

.column {
	$gutter: 20px;

	&s {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: calc( 100% + #{ $gutter } );
		margin: 0 #{ -$gutter / 2 };
	}

	&-half {
		width: 580px;
	}

	flex: 1;
	min-width: 16em;
	max-width: 100%;
	margin: $gutter;
}

.alignright {
	float: right;
}

%hero_background {
	background: #fcb040;
	border-radius: 1.618em 0;
}
